<app-logo></app-logo>
<div class="fs-1 text-center" style="font-family: sans-serif;">
    Auto
</div>
<div *ngFor="let veicolo of veicoli" class="float-start" style="width: 33%;">
        <div *ngIf="veicolo.tagVeicolo == 0">
            <div class="d-flex m-2 tendenzaHover" >
                <div class="card p-2" style="border-color: red;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img [src]="'../../../assets/DX_' + veicolo.nomeImmagine" height="160px" class="img-fluid" alt="Immagine non presente">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title" [id]="'testo'+veicolo.id">{{veicolo.marca}}  {{veicolo.modello}}</h5>
                                <div class="row py-2">
                                    <div class="col">
                                        <p class="card-text">Chilometri: {{veicolo.chilometraggio}}</p>
                                    </div>
                                    <div class="col">
                                        <ng-container *ngIf="veicolo.cambio == 0; else sus">Cambio: Manuale</ng-container> <ng-template #sus><ng-container *ngIf="veicolo.cambio == 2, else sus2">Cambio: Automatico</ng-container></ng-template> <ng-template #sus2>Cambio: Sequenziale </ng-template>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p>Patente necessaria: {{veicolo.patente}}</p>
                                    </div>
                                    <div class="col">
                                        <p>Prezzo giornaliero: <b>{{veicolo.prezzoGiornaliero  | currency: 'EUR'}}</b></p>
                                    </div>
                                </div>
                        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
            </div>  
</div>  
