<div class="container">
  <div class="fs-1 text-primary">CHI SIAMO</div>
    <div class="fs-3"><b>Azienda CercaAuto.com</b></div>
    <div class="fs-5">Siamo un'azienda di noleggio veicoli, la quale viene passata da generazione ai figli dei propretari, il fulcro centrale è l'attenzione al cliente, senza interessarsi al prezzo del mezzo; La disponibiltà e la pazienza sono dunque di primo ordine quando ci si confronta con un cliente per noi. CercaAuto è famiglia, CercaAuto è casa!</div> 
    <img src="https://cdn.discordapp.com/attachments/1075352972428574790/1075934223950676018/homme-concession-auto-1200x800-c.png" height="100px" width="1400px">
    <br> <br>
    <p>Email: 123email@gmail.com</p>
    <p>PEC: 123emailPEC@yahoo.com</p>
    <p>Telefono: 3667342593 </p>

  </div>