<div class="container d-flex justify-content-center">
    <form>
        <div>
            <div class="fs-1"><img src="https://images-ext-2.discordapp.net/external/-MC36pTd5xLJ1a_EKHY-i0fNYVkkUzNHayb3igMnxq0/https/i.gyazo.com/thumb/1200/aa3d177a29cd1bcc3eac6025af5c448d-png.jpg" style="height: 50%;" class="img-fluid"> CercaAuto.com</div>
        </div>
        <div class="input-group py-1" style="border: 0px;">
          <input class="form-control" type="text">      
           <button class="btn btn-lg" style="background-color: #d3d3d385; border: 0px">Cerca</button>
           <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Categorie</button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/auto">Auto</a></li>
            <li><a class="dropdown-item" routerLink="/moto">Moto</a></li>
            <li><a class="dropdown-item" routerLink="/camion">Camion</a></li>
          </ul>
        </div>
    </form>
</div>
    
    