<div class="container d-flex justify-content-center">
    <form>
        <div class="input-group py-1" style="border: 0px;">
          <input class="form-control w-50" type="text">      
           <button class="btn btn-lg w-25" style="background-color: #d3d3d385; border: 0px" onclick="cerca()" >Cerca</button>
           <button class="btn btn-secondary w-25 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Categorie</button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/auto">Auto</a></li>
            <li><a class="dropdown-item" routerLink="/moto">Moto</a></li>
            <li><a class="dropdown-item" routerLink="/camion">Camion</a></li>
          </ul>
        </div>
    </form>
</div>
                                                       
    
    