<div class="navbar navbar-light p-0" style="background-color: #a11e967a; height: 70px;">
    <img class="navbar-brand p-0 m-0 float-end position-absolute" style="height: 46px; width: 43px; padding-bottom: 20%;" src="https://images-ext-2.discordapp.net/external/-MC36pTd5xLJ1a_EKHY-i0fNYVkkUzNHayb3igMnxq0/https/i.gyazo.com/thumb/1200/aa3d177a29cd1bcc3eac6025af5c448d-png.jpg">
    <div class="row w-100 justify-content-center">
        <div class="itemNavBarHover nav-item col text-center fs-3" type="button">Home</div>
        <div class="nav-item col text-center fs-3">Noleggio</div>
        <div class="nav-item col text-center fs-3">Info</div>
    </div>         
</div>

<!--36ffc657-->