<div class="navbar navbar-light justify-content-center" style="background-color: #36ffc657; height: 70px;">
    <div class="row w-100">
        <img class="navbar-brand p-0 m-0 float-start position-absolute" style="height: 46px; width: 43px; padding-bottom: 50%;" src="https://media.discordapp.net/attachments/1075352972428574790/1075412691465814048/LogoAzienda1.png?width=43&height=46">
        <div class="nav-item col text-center py-2">Home</div>
        <div class="nav-item col text-center py-2">Home</div>
        <div class="nav-item col text-center py-2">Home</div>
    </div>         
</div>