<div class="navbar navbar-light justify-content-center" style="background-color: #36ffc657; height: 70px;">
    <div class="row w-100">
        <img class="navbar-brand py-0 m-0 p-0 float-start position-absolute" style="height: 46px; width: 43px;" src="https://images-ext-2.discordapp.net/external/-MC36pTd5xLJ1a_EKHY-i0fNYVkkUzNHayb3igMnxq0/https/i.gyazo.com/thumb/1200/aa3d177a29cd1bcc3eac6025af5c448d-png.jpg">
        <div class="nav-item col text-center fs-3" style="" type="button">Home</div>
        <div class="nav-item col text-center fs-3">Noleggio</div>
        <div class="nav-item col text-center fs-3">Info</div>
    </div>         
</div>