<div class="px-1">
    <div class="row">
        <div class="col w-25">
            <img class="col w-100" [src]="'../../../assets/SX_'+veicolo?.nomeImmagine"> 
        </div>
        <div class="col w-25">
           <img class="col w-100" [src]="'../../../assets/DX_'+veicolo?.nomeImmagine"> 
        </div>
        
        <div class="col w-25">
            <div class="fs-1">{{veicolo?.marca}}  {{veicolo?.modello}} <br> <div class="fs-5 text-secondary">Cilindrata: {{veicolo?.cilindrata}}cc<br>Potenza: {{veicolo?.cavalli}} hp<br> <ng-container *ngIf="veicolo?.cambio == 0; else sus">Cambio: Manuale</ng-container> <ng-template #sus><ng-container *ngIf="veicolo?.cambio == 2, else sus2">Cambio: Automatico</ng-container></ng-template> <ng-template #sus2>Cambio: Sequenziale </ng-template> <br> <ng-container *ngIf="veicolo?.carburante == 0; else sus">Carburante: Benzina</ng-container> <ng-template #sus>Carburante: Gasolio</ng-template> <br> Chilometraggio: {{veicolo?.chilometraggio}} km <br> Patente necessaria: {{veicolo?.patente}} </div> </div> 
        </div>
        <div class="col w-25">
            <div class="fs-1">
                Generalità
            </div>
            <div class="fs-4">
                La {{veicolo?.marca}}  {{veicolo?.modello}} è fornita di vari optional, tra i quali  {{veicolo?.optional1}}, {{veicolo?.optional2}} e {{veicolo?.optional3}}, ed è proveniente  <ng-container *ngIf="veicolo?.tagNazione == 0; else sus">dall'Europa</ng-container> <ng-template #sus><ng-container *ngIf="veicolo?.tagNazione == 1, else sus2">dal Giappone</ng-container></ng-template> <ng-template #sus2>dall'America </ng-template>. E' disposta di {{veicolo?.numeroPosti}} posti.
            </div>
            
        </div>
    </div>

</div>   


